// global
.fonts {
  span {
    display: block;
  }

  &__example {
    &--primary {
      @include custom-font($roboto, $font-16px);
    }

    &--primary-italic {
      @include custom-font($roboto-italic, $font-16px);
    }

    &--primary-bold {
      @include custom-font($roboto-bold, $font-16px);
    }

    &--primary-bold-italic {
      @include custom-font($roboto-bold-italic, $font-16px);
    }

    &--primary-light {
      @include custom-font($roboto-light, $font-16px);
    }

    &--primary-light-italic {
      @include custom-font($roboto-light-italic, $font-16px);
    }

    &--primary-medium {
      @include custom-font($roboto-medium, $font-16px);
    }

    &--primary-medium-italic {
      @include custom-font($roboto-medium-italic, $font-16px);
    }
  }
}

// headings
h1 {
  @include custom-font($roboto-medium, $font-30px);
  color: $black;
  line-height: 37px;
}

h2 {
  @include h2-style();
}

h3 {
  @include h3-style();
}

body {
  @include custom-font($roboto, $font-16px);
  line-height: 26px;
  color: $body-color;
}

a {
  @include a-style();
}
