<h2>Yahoo! Weather </h2>
<div class="col-md-8 col-md-offset-2">
 <div class="form-group">
  <input type="text" [(ngModel)]="id_zipcode" class="form-control" placeholder="Enter Zipcode ..."><br>
  <button type="button" class="btn btn-primary" (click)="callWeatherService()">Submit</button>
  <br><br><br>
  <br>
  <p class="well lead">
    <i>Zipcode :</i> {{ this.id_zipcode }} <br>
    <i>Current Condition :</i> {{ this.current_weather_text }} <br>
    <i>Current Temperature :</i> {{ this.current_weather_temp }} <br>
  </p>
  <p class="text-info">Total # of all the service requests including Weather, Movie, and Currency is :
    <span class="badge">{{this._sharedService.totReqsMade}}</span>
  </p>
 </div>
</div>