<p>
  currency works!
</p>

  <div class="sg-pattern-example">
    <ul class="brand-colors">
	<li>
		<span class="brand-colors__swatch primary"></span>
		<span class="brand-colors__label">Brand Primary</span>
		<span class="brand-colors__label">#A61828</span>
	</li>
	<li>
		<span class="brand-colors__swatch black"></span>
		<span class="brand-colors__label">Black</span>
		<span class="brand-colors__label">#000</span>
	</li>
	<li>
		<span class="brand-colors__swatch white"></span>
		<span class="brand-colors__label">White</span>
		<span class="brand-colors__label">#FFF</span>
	</li>
	<li>
		<span class="brand-colors__swatch atlantic"></span>
		<span class="brand-colors__label">Atlantic</span>
		<span class="brand-colors__label">#2C5C8B</span>
	</li>
	<li>
		<span class="brand-colors__swatch emerald"></span>
		<span class="brand-colors__label">Emerald</span>
		<span class="brand-colors__label">#288564</span>
	</li>
	<li>
		<span class="brand-colors__swatch moss"></span>
		<span class="brand-colors__label">Moss</span>
		<span class="brand-colors__label">#4B8510;</span>
	</li>
	<li>
		<span class="brand-colors__swatch plum"></span>
		<span class="brand-colors__label">Plum</span>
		<span class="brand-colors__label">#742B60</span>
	</li>
</ul>

  </div>