<p>
  movie works!
</p>
<div id="viewall-organisms-related-products" class="sg-pattern-category">
  <h2 class="sg-pattern-category-title"><a href="../../patterns/02-organisms-04-related-products&#x2F;index.html" class="patternLink" data-patternpartial="viewall-organisms-related-products">related-products</a></h2>

  <div class="sg-pattern-category-body">
    
  </div><!--end sg-pattern-category-body-->
  
</div><!--end sg-pattern-category-->
<div id="organisms-related-products" class="sg-pattern">
  <div class="sg-pattern-head">
    <h3 class="sg-pattern-title">
      <a href="../../patterns/02-organisms-04-related-products-00-related-products&#x2F;02-organisms-04-related-products-00-related-products.html" class="patternLink" data-patternpartial="organisms-related-products" title="Link to Pattern">
          Related Products
      </a>
    </h3>
    <div class="sg-pattern-breadcrumb"></div>
    <a href="#" data-patternpartial="organisms-related-products" title="View Pattern Info" id="sg-pattern-extra-toggle-organisms-related-products" class="sg-pattern-extra-toggle"><span>&#9660;</span></a>
  </div>
  <div class="sg-pattern-extra" id="sg-pattern-extra-organisms-related-products">
    
  </div>
  <div class="sg-pattern-example">
      <button class="button primary">Add to Cart</button>
  </div>

